.p-1\/2.svelte-8q1fmk{
  padding:0.125rem
}
h1.svelte-ibl7am,p.svelte-ibl7am{
  margin:0 auto
}

h1.svelte-ibl7am{
  font-size:2.8em;
  font-weight:700;
  margin:0 0 0.5em 0
}

p.svelte-ibl7am{
  margin:1em auto
}

@media(min-width: 480px){
  h1.svelte-ibl7am{
    font-size:4em
  }
}
.topnav.svelte-1muw8ti.svelte-1muw8ti{
  overflow:hidden
}

.bgGreen.svelte-1muw8ti.svelte-1muw8ti{
  background-color:#4caf50
}

.bgBlue.svelte-1muw8ti.svelte-1muw8ti{
  background-color:#2196f3
}

.bgRed.svelte-1muw8ti.svelte-1muw8ti{
  background-color:#f44336
}

.bgGrey.svelte-1muw8ti.svelte-1muw8ti{
  background-color:#555
}

.topnav.svelte-1muw8ti a.svelte-1muw8ti{
  float:left;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:28px
}

.topnav.svelte-1muw8ti a.svelte-1muw8ti:hover{
  background-color:#ddd;
  color:black
}
#mySidenav.svelte-1e1jonk a.svelte-1e1jonk{
  position:absolute;
  left:-115px;
  transition:0.3s;
  padding:15px;
  width:180px;
  z-index:1;
  text-decoration:none;
  font-size:20px;
  color:white;
  border-radius:0 5px 5px 0
}

#mySidenav.svelte-1e1jonk a.svelte-1e1jonk:hover{
  left:0
}

#about.svelte-1e1jonk.svelte-1e1jonk{
  top:90px;
  background-color:#4caf50
}

#customers.svelte-1e1jonk.svelte-1e1jonk{
  top:160px;
  background-color:#2196f3
}

#projects.svelte-1e1jonk.svelte-1e1jonk{
  top:230px;
  background-color:#f44336
}

#contact.svelte-1e1jonk.svelte-1e1jonk{
  top:300px;
  background-color:#555
}

.container.svelte-1e1jonk.svelte-1e1jonk{
  display:block;
  width:100%
}

.left-column.svelte-1e1jonk.svelte-1e1jonk{
  width:70%;
  text-align:start;
  float:left
}

.right-column.svelte-1e1jonk.svelte-1e1jonk{
  width:30%;
  text-align:end;
  float:right
}

i.svelte-1e1jonk.svelte-1e1jonk{
  font-size:28px
}
.content.svelte-1mflxqj.svelte-1mflxqj{
  width:80%
}

.sidebar.svelte-1mflxqj.svelte-1mflxqj{
  height:100%;
  width:25%;
  position:fixed;
  z-index:1;
  top:0;
  left:100%;
  background-color:rgb(69, 74, 119);
  overflow-x:hidden;
  transition:0.5s;
  padding-top:60px
}

.sidebar.svelte-1mflxqj div.svelte-1mflxqj{
  padding:8px 8px 8px 32px;
  text-decoration:none;
  font-size:25px;
  color:#000000;
  display:block;
  transition:0.3s
}

.sidebar.svelte-1mflxqj div.svelte-1mflxqj:hover{
  color:#1a1a1a
}

.sidebar.svelte-1mflxqj .closebtn.svelte-1mflxqj{
  position:absolute;
  top:0;
  right:25px;
  font-size:36px;
  margin-left:50px
}

#main.svelte-1mflxqj.svelte-1mflxqj{
  transition:margin-right 0.5s
}

@media screen and (max-height: 450px){
  .sidebar.svelte-1mflxqj.svelte-1mflxqj{
    padding-top:15px
  }

  .sidebar.svelte-1mflxqj div.svelte-1mflxqj{
    font-size:18px
  }
}
.tab.svelte-1lu8ssf.svelte-1lu8ssf{
  float:left;
  background-color:#2d80c3;
  box-shadow:0 8px 16px 0 rgb(0, 0, 0, 0.2);
  height:100%
}

.tab.svelte-1lu8ssf button.svelte-1lu8ssf{
  display:block;
  background-color:inherit;
  color:white;
  padding:22px 16px;
  width:100%;
  border:none;
  outline:none;
  text-align:left;
  cursor:pointer;
  transition:0.3s;
  font-size:17px
}

.tab.svelte-1lu8ssf button.svelte-1lu8ssf:hover{
  background-color:#3e86c2;
  width:100%
}

.tab.svelte-1lu8ssf button.active.svelte-1lu8ssf{
  background-color:#528fc2;
  width:100%
}

.hide.svelte-1lu8ssf.svelte-1lu8ssf{
  display:none
}

.tabcontent.svelte-1lu8ssf.svelte-1lu8ssf{
  border-top:none
}

.grid.svelte-1lu8ssf.svelte-1lu8ssf{
  display:grid;
  grid-gap:5px;
  grid-template-columns:20% 80%;
  margin:10px
}

.head.svelte-1lu8ssf.svelte-1lu8ssf{
  background-color:#2d80c3;
  text-align:start;
  color:white;
  box-shadow:0 4px 8px 0 rgb(0, 0, 0, 0.2);
  padding:10px;
  margin-bottom:5px
}
.container.svelte-1tcmohv{
  padding:10px;
  margin:5px;
  float:left
}

.inline.svelte-1tcmohv{
  display:block;
  width:100%
}

.title.svelte-1tcmohv{
  font-size:18px
}

.content.svelte-1tcmohv{
  font-size:16px;
  color:darkgrey;
  margin:5px
}

.footer.svelte-1tcmohv{
  margin:2px;
  font-size:12px;
  color:darkgrey
}

.shadow.svelte-1tcmohv{
  box-shadow:2px 2px 5px -2px rgba(0, 0, 0, 0.75)
}

.border.svelte-1tcmohv{
  border:1px solid rgb(46, 43, 43, 0.2)
}

.divider.svelte-1tcmohv{
  border-bottom:1px solid rgb(224, 112, 7)
}
.container.svelte-1kvwi9a.svelte-1kvwi9a{
  display:block;
  position:relative;
  padding-left:35px;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.container.svelte-1kvwi9a input.svelte-1kvwi9a{
  position:absolute;
  opacity:0;
  cursor:pointer;
  height:0;
  width:0
}

.checkmark.svelte-1kvwi9a.svelte-1kvwi9a{
  position:absolute;
  top:6px;
  left:6px;
  height:25px;
  width:25px;
  background-color:#eee
}

.container:hover input~.checkmark.svelte-1kvwi9a.svelte-1kvwi9a{
  background-color:#ccc
}

.container input:checked~.checkmark.svelte-1kvwi9a.svelte-1kvwi9a{
  background-color:#2196f3
}

.checkmark.svelte-1kvwi9a.svelte-1kvwi9a:after{
  content:"";
  position:absolute;
  display:none
}

.container input:checked~.checkmark.svelte-1kvwi9a.svelte-1kvwi9a:after{
  display:block
}

.container.svelte-1kvwi9a .checkmark.svelte-1kvwi9a:after{
  left:9px;
  top:5px;
  width:5px;
  height:10px;
  border:solid white;
  border-width:0 3px 3px 0;
  transform:rotate(45deg)
}
.reverse.svelte-4k7qgq{
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg)
}

.tip.svelte-4k7qgq{
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg)
}
.wrapper.svelte-pj5vj2{
  display:inline-block
}
img.svelte-kb7h1f{
  display:block;
  margin:0 auto;
  padding:5px
}
.drawer.svelte-l8unuy{
  min-width:250px
}

aside.svelte-l8unuy{
  height:100vh
}
.inc.svelte-d96c3o{
  -webkit-animation:svelte-d96c3o-increase 2s ease-in-out infinite;
  animation:svelte-d96c3o-increase 2s ease-in-out infinite
}

.dec.svelte-d96c3o{
  -webkit-animation:svelte-d96c3o-decrease 2s 0.9s ease-in-out infinite;
  animation:svelte-d96c3o-decrease 2s 0.9s ease-in-out infinite
}

@-webkit-keyframes svelte-d96c3o-increase{
  from{
    left:-5%;
    width:5%
  }

  to{
    left:130%;
    width:150%
  }
}

@keyframes svelte-d96c3o-increase{
  from{
    left:-5%;
    width:5%
  }

  to{
    left:130%;
    width:150%
  }
}

@-webkit-keyframes svelte-d96c3o-decrease{
  from{
    left:-90%;
    width:90%
  }

  to{
    left:110%;
    width:10%
  }
}

@keyframes svelte-d96c3o-decrease{
  from{
    left:-90%;
    width:90%
  }

  to{
    left:110%;
    width:10%
  }
}
.snackbar.svelte-ofirsl{
  min-width:344px
}
th.svelte-d09rr4 .asc.svelte-d09rr4{
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg)
}
.line.svelte-vkywwy{
  height:1px
}
.tooltip.svelte-c0e057{
  left:50%;
  -webkit-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  transform:translateX(-50%)
}
.label-top.svelte-1tbu1q{
  line-height:0.05
}

.label-transition.svelte-1tbu1q{
  -webkit-transition:font-size 0.05s, line-height 0.1s;
  -o-transition:font-size 0.05s, line-height 0.1s;
  transition:font-size 0.05s, line-height 0.1s
}

label.text-xs{
  font-size:0.7rem
}
.circular.svelte-fxppr3{
  -webkit-animation:svelte-fxppr3-rotate 2s linear infinite;
  animation:svelte-fxppr3-rotate 2s linear infinite;
  position:relative
}

.path.svelte-fxppr3{
  stroke-dasharray:1, 200;
  stroke-dashoffset:0;
  stroke-linecap:round;
  -webkit-animation:svelte-fxppr3-dash 1.5s ease-in-out infinite;
  animation:svelte-fxppr3-dash 1.5s ease-in-out infinite
}

@-webkit-keyframes svelte-fxppr3-rotate{
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}

@keyframes svelte-fxppr3-rotate{
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}

@-webkit-keyframes svelte-fxppr3-dash{
  0%{
    stroke-dasharray:1, 200;
    stroke-dashoffset:0
  }

  50%{
    stroke-dasharray:89, 200;
    stroke-dashoffset:-35
  }

  100%{
    stroke-dasharray:89, 200;
    stroke-dashoffset:-124
  }
}

@keyframes svelte-fxppr3-dash{
  0%{
    stroke-dasharray:1, 200;
    stroke-dashoffset:0
  }

  50%{
    stroke-dasharray:89, 200;
    stroke-dashoffset:-35
  }

  100%{
    stroke-dasharray:89, 200;
    stroke-dashoffset:-124
  }
}
.ripple.svelte-daw91x{
  position:absolute !important
}